h1, h2, ul, li, h3, a, div, p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
  max-width: 100%;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
}

input {
  outline: none;
}

.foot__svg-item, .presentation__overlay, .presentation__item:hover, .presentation__item, .navigation__button:focus, .navigation__button, .header__tel:focus, .header__tel, .header__items, .header__link:focus, .header__link, .header__item {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.header {
  padding-bottom: 16px;
  padding-top: 16px;
  border: #ECECEC solid 2px;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
  }
}
.header__links {
  text-align: center;
  animation-name: fone;
  animation-duration: 2s;
}
.header__span1 {
  color: green;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .header__span1 {
    letter-spacing: 0.78px;
    font-size: 26px;
  }
}
.header__span2 {
  color: #212121;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
}
@media screen and (min-width: 1200px) {
  .header__span2 {
    letter-spacing: 0.78px;
    font-size: 26px;
  }
}
.header__list {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__list {
    margin-left: 88px;
    gap: 50px;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 93px;
    gap: 50px;
  }
}
.header__item {
  position: relative;
  transition-property: fill;
}
.header__link {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition-property: color;
}
.header__link:focus {
  color: green;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  transition-property: color;
}
.header__link:hover {
  color: green;
}
.header__after::after {
  display: block;
  content: "";
  border-radius: 2px;
  background: green;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 46px;
  left: 0px;
}
.header__color {
  color: green;
}
.header__lists {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__lists {
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 73px;
  }
}
@media screen and (min-width: 1200px) {
  .header__lists {
    gap: 50px;
    flex-direction: row;
    margin-left: 291px;
  }
}
.header__items {
  align-items: center;
  transition-property: fill;
}
.header__items:hover .header__email {
  fill: green;
}
.header__items:hover .header__phone {
  fill: green;
}
.header__email {
  width: 16px;
  height: 12px;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: #757575;
}
.header__phone {
  fill: #757575;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.header__tel {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
}
.header__tel:focus {
  color: green;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
}
.header__tel:hover {
  color: green;
}
.header__icon-menu {
  width: 40px;
  height: 40px;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__icon-menu {
    display: none;
  }
}
.header__button {
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    display: none;
  }
}
.header__box {
  display: flex;
  align-items: center;
}

.but {
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-top: 13px;
}

.navigation {
  padding-top: 94px;
  padding-bottom: 50px;
}
.navigation__list {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 8px;
       column-gap: 8px;
  gap: 8px;
  justify-content: flex-start;
  height: 38px;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .navigation__list {
    justify-content: center;
  }
}
.navigation__button {
  color: #212121;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  width: 125px;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background: #F5F4FA;
  transition-property: background-color, color;
  animation-name: buttonani;
  animation-duration: 2s;
  animation-timing-function: linear;
}
@media screen and (min-width: 768px) {
  .navigation__button {
    width: 125px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__button {
    width: 130px;
    height: 38px;
  }
}
.navigation__button:focus {
  color: #fff;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 162.5%;
  letter-spacing: 0.48px;
  border-radius: 4px;
  background-color: #2196F3;
  transition-property: background-color, color;
}
.navigation__button:hover {
  background-color: green;
  color: #fff;
}

.presentation {
  padding-bottom: 94px;
  margin-top: 80px;
}
.presentation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .presentation__list {
    flex-direction: row;
    justify-content: flex-start;
  }
}
.presentation__item {
  border: 1px solid #EEE;
  flex-basis: calc(100% - 20px);
  position: relative;
  overflow: hidden;
  transition-property: box-shadow;
}
@media screen and (min-width: 768px) {
  .presentation__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .presentation__item {
    max-width: 370px;
    height: 404px;
  }
}
.presentation__item:hover {
  border: 1px solid #EEE;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.presentation__overlay {
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  height: 294px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(100%);
}
.presentation__item:hover .presentation__overlay {
  opacity: 1;
  overflow: visible;
  transform: translateY(0%);
}
.presentation__text {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
  padding-left: 24px;
  padding-top: 20px;
}
.presentation__overlay-text {
  color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
}
.presentation__description {
  padding-left: 24px;
  padding-bottom: 20px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 187.5%;
  letter-spacing: 0.48px;
}

.foot {
  background-color: #2F303A;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.foot__flex {
  display: flex;
  flex-direction: column;
}
.foot__flex-footer {
  margin-right: 70px;
  height: 100px;
}
.foot__svg {
  width: 20px;
  height: 20px;
  fill: #757575;
}
.foot__svg-list {
  display: flex;
  gap: 10px;
  margin-left: 32px;
  padding-top: 28px;
  margin-right: 32px;
  padding-top: 20px;
}
.foot__span1 {
  color: green;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .foot__span1 {
    font-size: 26px;
  }
}
.foot__span2 {
  color: #fff;
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
@media screen and (min-width: 1200px) {
  .foot__span2 {
    font-size: 26px;
  }
}
.foot__email-tel {
  display: flex;
  flex-direction: column;
}
.foot__adres {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.714;
  font-style: normal;
  margin-bottom: 9px;
}
.foot__tel {
  color: rgba(255, 255, 255, 0.6);
}
.foot__mailto {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 171.4%;
  margin-bottom: 9px;
}
.foot__sot-title {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  padding-left: 69px;
}
.foot__svg-item {
  border-radius: 50%;
  transition-property: background-color;
}
.foot__flex-title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  padding-left: 95px;
}
.foot__flex-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  padding-right: 295px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  width: 358px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 93px;
  margin-top: 20px;
}
.foot__svg-list {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-left: 35px;
}
.foot__svg-list {
  display: flex;
  gap: 10px;
  margin-left: 32px;
  padding-top: 28px;
  margin-right: 32px;
}
.foot__svg-item:hover .foot__svg {
  fill: #fff;
}
.foot__svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.foot__svg-item:hover {
  background-color: green;
  border-radius: 50%;
}
.foot__svg-item:hover {
  background-color: green;
  border-radius: 50%;
}
.foot__svg-item {
  width: 44px;
  height: 44px;
  text-align: center;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
}
.foot__svg-item {
  width: 44px;
  height: 44px;
  text-align: center;
  padding-left: 12px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
}
.foot__flex-button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 62px;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 4px;
  background: green;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  margin-left: 12px;
  position: relative;
}
.foot__telega {
  position: absolute;
  top: 13px;
  left: 148px;
}
.foot__text {
  margin-bottom: 20px;
}/*# sourceMappingURL=portfolio.css.map */