.employees {

  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  padding-bottom: 94px;
  }
  
  background: $bakround-color;

  &__title {
    color: $texts-color;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 30px;

    @media screen and (min-width: 1200px) {
      letter-spacing: 0.84px;
      font-size: 36px;
      margin-bottom: 50px;
    }
  }

  &__list {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    gap: 30px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__item {
    padding-bottom: 36px;
    background-color: $adress-color;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;

    @media screen and (min-width: 768px) {
      @include width-heit(354px, 536px)
    }

    @media screen and (min-width: 1200px) {
      @include width-heit(270px, 428px);
    }
  }

  
   

  &__text {
    color: $texts-color;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 30px;
  }

  &__description {
    color: $text-color;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 118.75%;
    letter-spacing: 0.48px;
    margin-top: 10px;
  }

  &__svg-list{
    display: flex;
    gap: 10px;
    margin-left: 32px;
    margin-top: 16px;
    margin-right: 32px;
    justify-content: center;
    }


   
  


  &__svg-item:hover &__svg {
    fill: $adress-color;
  }



  &__svg {
    @include width-heit(20px, 20px);
    fill: $text-color;
}



&__svg-item:hover {
    background-color: $text-colors;
    border-radius: 50%;
}




&__svg-item:hover {
    background-color: $text-colors;
    border-radius: 50%;
    
}



&__svg-item {
  @include width-heit(44px, 44px);
    text-align: center;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    transition-property: background-color;
    @extend %animation;
}




  
}







