.foot {
    background-color:  $background-color;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
   


    &__flex{
        display: flex;
        flex-direction: column;
    }

    &__flex-footer {
        margin-right: 70px;
        height: 100px;
    }

    &__svg {
        @include width-heit(20px, 20px);
        fill: $text-color;
    }

    &__svg-list{
        display: flex;
        gap: 10px;
        margin-left: 32px;
        padding-top: 28px;
        margin-right: 32px;
        padding-top: 20px;
      }

      &__span1 {
        color: $text-colors;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
      }
    
      &__span2 {
        color: $adress-color;
        font-family: Raleway;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.78px;
      }

      &__email-tel {
        display: flex;
        flex-direction:column;
    }

    &__adres {
        color: $adress-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.714;
        font-style: normal;
        margin-bottom: 9px;
    }

    &__tel {
        color: $phone-color;
    }

    &__mailto {
        color: $phone-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 171.4%;
        margin-bottom: 9px;
    }

    
  &__sot-title {
    color: $adress-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    padding-left: 69px;
}

    &__svg-item {
        border-radius: 50%;
        transition-property: background-color;
        @extend %animation;
}

 &__flex-title {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    padding-left: 95px;
}



&__flex-input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 16px;
    padding-right: 295px;
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: 0.48px;
    @include width-heit(358px, 50px);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 93px;
    margin-top: 20px;
}

&__svg-list {
    display: flex;
    gap: 10px;
    padding-top: 20px;
    padding-left: 35px;
}

&__svg-list {
    display: flex;
    gap: 10px;
    margin-left: 32px;
    padding-top: 28px;
    margin-right: 32px;
    
}
    
&__svg-item:hover &__svg {
    fill: $adress-color;
}

&__svg {
    @include width-heit(20px, 20px);
    fill: $adress-color;
}



&__svg-item:hover {
    background-color: $text-colors;
    border-radius: 50%;
}


&__svg-item:hover {
    background-color: $text-colors;
    border-radius: 50%;
    
}

&__svg-item {
    @include width-heit(44px, 44px);
    text-align: center;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
}

&__svg-item {
    @include width-heit(44px, 44px);
    text-align: center;
    padding-left: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.10);
    transition-property: background-color;
    @extend %animation;
}

&__flex-button {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 28px;
    padding-right: 62px;
    color: $adress-color;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; 
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: $text-colors;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    @include width-heit(200px, 50px);
    flex-shrink: 0;
    margin-left: 12px;
    position: relative;
}

&__telega {
    position: absolute;
    top: 13px;
    left: 148px;
}

 &__text {
    margin-bottom: 20px;
}





    
}





















