.header {
  padding-bottom: 16px;
  padding-top: 16px;
  border: $border2 solid 2px;
  
  @media screen and (min-width: 768px) {
    padding-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
  }
  

  &__links {
    text-align: center;
    animation-name: fone;
    animation-duration: 2s;
  }

  &__span1 {
    color: $text-colors;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;

    @media screen and (min-width: 1200px) {
      letter-spacing: 0.78px;
      font-size: 26px;
    }
  }

  &__span2 {
    color: $texts-color;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;

    @media screen and (min-width: 1200px) {
      letter-spacing: 0.78px;
      font-size: 26px;
    }
  }

  &__list {
    display: none;

    @media screen and (min-width: 768px) {
      margin-left: 88px;
      gap: 50px;
    display: flex;

    }

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      gap: 50px;

    
    
    }

  }

  &__item {
    position: relative;
    transition-property: fill;
    @extend %animation;
  }

  &__link {
    color: $texts-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    transition-property: color;
    @extend %animation;

  }

  &__link:focus {
    color: $text-colors;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    transition-property: color;
    @extend %animation;
  }

  &__link:hover {
    color: $text-colors;
  }

  &__after::after {
    display: block;
    content: "";
    border-radius: 2px;
    background: $text-colors;
    @include width-heit(100%, 4px);
    position: absolute;
    top: 46px;
    left: 0px;
  }

  &__color {
    color: $text-colors;
  }

  &__lists {
    display: none;

    @media screen and (min-width: 768px) {
      gap: 10px;
      display: flex;
      flex-direction: column;
      margin-left: 73px;
    }

    @media screen and (min-width: 1200px) {
      gap: 50px;
      flex-direction: row;
      margin-left: 291px;
    }

  }

  
&__items {
  align-items: center;
  transition-property: fill;
  @extend %animation;
}

&__items:hover &__email {
  fill: $text-colors;
}

&__items:hover &__phone {
  fill: $text-colors;
}

&__email {
  @include width-heit(16px, 12px);
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: $text-color;
}

&__phone {
  fill: $text-color;
  @include width-heit(16px, 16px);
  margin-right: 10px;
  
}


&__tel {
  color: $text-color;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  @extend %animation;
}

&__tel:focus {
  color: $text-colors;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  @extend %animation;
}

&__tel:hover {
  color: $text-colors;
}

&__icon-menu {
  width: 40px;
height: 40px;
margin-left: auto;
   @media screen and (min-width: 768px) {
    display: none;
   }
}

&__button {
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

&__box {
  display: flex;
  align-items: center;

}

}






