
header {
   
    padding-bottom: 25px;
    padding-top: 24px;
    padding-top: 24px;
   border: $border2 solid 2px;
}

.header-link {
    color: $bg-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:focus {
    color: $tex-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover  {
     color: $tex-color;
}

.header-box {
    display: flex;
    align-items: center;
    /* outline: red solid; */
    justify-content: space-between; 
}
.header-list {
    gap: 50px;
    display: flex;
    align-items: center;
    /* outline: red solid; */
   
} 

.header-lists {
    gap: 50px;
    display: flex;
}

.header-items {
    display: flex;
    align-items: center;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-items:hover .email {
    fill: $tex-color;
}

.header-items:hover .phone {
    fill: $tex-color;
}

.header-item {
    position: relative;
     transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.header-links {
    text-align: center;
    animation-name: fone;
    animation-duration: 2s;
}

#header-tel {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#header-tel:focus {
    color: $tex-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

#header-tel:hover {
    color: $tex-color;
}

.header-link::after {
    content: '';
    display: block;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    position: absolute; 
    transition-property: background;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    top: 46px;
    left: 0px;
}

.header-link:hover::after {
    background: $tex-color;
}

.after::after {
    display: block;
    content: '';
    border-radius: 2px;
    background: $tex-color;
    width: 100%;
    height: 4px;
    position: absolute;
    top: 46px;
    left: 0px;     
}

.color {
    color: $tex-color;
}

#web {
    color: $tex-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

#studio {
    color: $black-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}