.information {
    background-image: linear-gradient(rgba(47, 48, 58, 0.40),  rgba(47, 48, 58, 0.40)) ,url(../img/Img.png);
    background-size: cover;
    font-size: 44px;
    margin-left: auto;
    margin-right: auto;
   max-width: 1600px;
   padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
   

  

    &__title {
        margin-left: auto;
        margin-right: auto;
        color: $adress-color;
        text-align: center;
        font-size: 26px;
        font-weight: 900;
        line-height: 161.538%;
        letter-spacing: 1.56px;
        text-transform: uppercase;
    
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            width: 360px;
        }

       @media screen  and (min-width: 1200px){
        line-height: 136.364%;
        letter-spacing: 2.64px;
        font-size: 44px;
        width: 696px;
       }
    }

    


&__button {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    background: $text-colors;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-size: 16px;
    font-weight: 700;
    line-height:  187.5%;
    letter-spacing: 0.96px;
    color: $adress-color;
    font-size: 16px;
    padding-left: 24px;
    padding-right: 24px;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
    

    @media screen and (min-width: 1200px) {
        padding-left: 32px;
        padding-right: 32px;
    }
}


}


