.info {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__list {
        display: block;
        gap: 30px;
       
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {
            display: flex;
            gap: 30px;
        }
    }

    &__item1::before {
        background-color:  $bakround-color;
        background-repeat: no-repeat;
        content: '';
        background-image: url(../img/antenna\ 1.png);
        background-position: center;
        display: block;
       
        
        height: 120px;

        
        

        @media screen and (min-width: 768px) {
            @include width-heit(354px, 120px);
        }

        @media screen and (min-width: 1200px) {
            @include width-heit(270px, 120px);
        }

    }  

    &__item {
        max-width: 450px;

        @media screen and (min-width: 768px) {
            max-width: 354px;
        }

        @media screen and (min-width: 1200px) {
            max-width: 270px;
        }
    }

    &__text {
        color: $texts-color;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: center;
        margin-top: 30px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }

       
    }

    &__description {
        color: $text-color;
        font-size: 14px;
        font-weight: 400;
        line-height:  171.429%;
        letter-spacing: 0.42px;
        margin-bottom: 30px;
        

       
    }

    &__item2::before {
        background-color:  $bakround-color;
        content: '';
        
        height: 120px;
        background-repeat: no-repeat;
        background-image: url(../img/clock\ 1.png);
        background-position: center;
        display: block;

        @media screen and (min-width: 768px) {
            @include width-heit(354px, 120px);
        }

        @media screen and (min-width: 1200px) {
            @include width-heit(270px, 120px);
        }
    }

   


    &__text2 {
        color: $texts-color;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: center;
        margin-top: 30px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    &__item3::before {
        background-color:  $bakround-color;
        content: '';
        max-width: 450px;
        height: 120px;
        background-repeat: no-repeat;;
        display: block;
        background-image: url(../img/diagram\ 1.png);
        background-position: center;

        @media screen and (min-width: 768px) {
            @include width-heit(354px, 120px);
        }

        @media screen and (min-width: 1200px) {
            @include width-heit(270px, 120px);
        }
    }

    &__text3 {
        color: $texts-color;
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 12px;
        text-align: center;
        margin-top: 30px;

        @media screen and (min-width: 768px) {
            text-align: left;
        }
    }

    li {
        outline: solid green;
    }
    

&__item4::before {
    background-color:  $bakround-color;
    content: '';
    max-width: 450px;
    height: 120px;
    background-repeat: no-repeat;;
    display: block;
    background-image: url(../img/astronaut\ 1.png);
    background-position: center;

    @media screen and (min-width: 768px) {
        @include width-heit(354px, 120px);
    }

    @media screen and (min-width: 1200px) {
        @include width-heit(270px, 120px);
    }
}

&__text4 {
    color: $texts-color;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 12px;
    text-align: center;
    margin-top: 30px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

}

    
    
    
    
    





 















