.naviganion-button {
    color: #212121;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: $bakround-color;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-name: buttonani;
    animation-duration: 2s;
    animation-timing-function: linear;
}

.naviganion-button:focus {
    color: $adress-color;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    font-size: 16px;
    font-weight: 500;
    line-height: 162.5%;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background-color: #2196F3;
    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.naviganion-button:hover {
    background-color:$text-colors;
    color: $adress-color;
}

.navigation-list {
   display: flex;
   gap: 8px;
   padding-left: 300px;
   height: 38px;
   flex-shrink: 0;
}
   

.navigation {
    padding-top: 94px;
    padding-bottom: 50px;
}


