.presentation {
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   gap: 30px;

     @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: flex-start;
     }
  }

  &__item {
    border: 1px solid $presentation-item;
    flex-basis: calc(100% - 20px);
    position: relative;
    overflow: hidden;
    
    transition-property: box-shadow;
    @extend %animation;
    
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 370px;
      height: 404px;
    }
  }
  
  &__item:hover {
    border: 1px solid $presentation-item;
    background: $adress-color;
    @extend %animation;
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  }

  &__overlay {
    background: rgba(33, 150, 243, 0.90);
    @include width-heit(370px, 294px);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    overflow: hidden;
    @extend %animation;
    transform: translateY(100%);
  }

  &__item:hover &__overlay {
    opacity: 1;
    overflow: visible;
    transform: translateY(0%);
  }

  &__text {
    color: #212121;
    font-size: 18px;
    font-weight: 700;
    line-height: 200%;
    letter-spacing: 1.08px;
    padding-left: 24px;
    padding-top: 20px;
  }

  
  
  &__overlay-text {
    color: $adress-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.54px;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 63px;
  }

  

&__description {
  padding-left: 24px;
  padding-bottom: 20px;
  color: $text-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 187.5%; 
    letter-spacing: 0.48px;
}

}






  
  









 
  

  
  






























